th {
  text-align: start;
  font-size: 15px;
}

table {
  width: 100%;
}

.favourite {
  color: #d9d93a;
}

.favourite-icon {
  font-size: 20px;
  &:hover {
    cursor: pointer;
  }

  &::selection {
    background: none;
  }
}

.delete-icon {
  font-size: 40px;
  color: red;
  margin-top: 2px;
  display: block;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}
