:host {
  display: flex;
  justify-content: center;
}

.main-table {
  app-form {
    position: sticky;
    top: 0;
  }

  overflow: unset;
  margin-top: 40px
}

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 5;
}

.progress-bar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  opacity: 0.5;
  z-index: 4;
  animation-name: opacityChange;
  animation-duration: 0.5s;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
